/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  border: white solid 2px;
  margin: 19px 19px 10px 19px;
}

.backgroundheader {
  overflow: hidden;
}